.banner_simple {
    background-color: #fdebd2;
    color: #222;
    min-height: 250px;
  }
  
  .banner_simple_vert {
    background-color: #d4e9d7;
    color: #222;
    min-height: 250px;
  }
  .bannershop > img {
    height: 400px;
  }
  .banner_category {
    background-color: #f8ebe6;
    color: #222;
  }
  .bcg_w {
    background-color: #eeeeee;
  }
  .nav-link {
    padding: 0.5rem 0.5rem !important;
  }
  