.bg-green {
    background-color: #1d3901 !important;
  }
  .orange {
    color: #ff6a00 !important;
  }
  /* navbar, bg-light, reécrit*/
  .navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .bg-light {
    color: #fff !important;
    background-color: #1d3901 !important;
  }
  .navbar-light .navbar-brand {
    color: #ff6a00;
  }
  .navbar-toggler-icon span {
    color: #fff !important;
  }
  .nav-link {
    color: #fff !important;
  }
  .nav-link:hover {
    color: #ff6a00 !important;
  }
  .nav {
    padding-left: -1px !important;
  }
  
  .nav {
    padding-left: -1px !important;
  }
  